.placeholder {
    color: #696969;
}

details {
    margin-left: 40px;
}

.result {
    display: flex;
}

.wide {
    flex: auto;
}

.more-info {
    text-align: center;
    float: right;
    background-color: #b0b0b0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 24px;
    cursor: default;
}

.more-info:before {
    content: '?';
    font-weight: bold;
    color: #fff;
}

.more-info:hover p {
    display: block;
    transform-origin: 100% 0%;
}

.more-info p {
    z-index: 100; /* make sure it doesn't get covered by other status boxes */
    display: none;
    text-align: left;
    background-color: #545454;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    right: 0px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.more-info p:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #545454;
    right: 12px;
    top: -12px;
}
